# Dumb macOS files
.DS_Store
._*

# Dependency directories
/node_modules/

# environment variables file
.env

# VERSION file (deployment-specific)
VERSION

# eslint cache
.eslintcache

# Logs
*.log
npm-debug.log*

# Typescript
*.tsbuildinfo
/dist/
